{% extends 'front/layout-front.html.twig' %}

{% block content %}
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-black-middle bg-scooter-list">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Nos scooters electriques</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Accueil</a></li>
                    <li>Nos scooters electriques</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="section-full content-inner bg-white">
            <div class="container">
                <div class="row">
                    <!-- Side bar start -->
                    <div class="col-sm-4 col-md-4 col-lg-3">
                        <aside  class="side-bar">
                            <div class="widget recent-posts-entry">
                                <h4 class="widget-title text-uppercase">Recherche avancée</h4>
                                <div class="dlab-accordion advanced-search toggle" id="accordion1">
                                    <div class="panel">
                                        <div class="acod-head">
                                            <h5 class="acod-title">
                                                <a data-toggle="collapse" href="#" class="collapsed">
                                                    Ville
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="city" class="acod-body collapse in">
                                            <div class="acod-content">
                                                <div class="input-group">
                                                    <select class="form-control">
                                                        <option>Choisissez une ville</option>
                                                        <option>Paris</option>
                                                        <option>Lyon</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="acod-head">
                                            <h5 class="acod-title">
                                                <a data-toggle="collapse" href="#">
                                                    Tranche de prix
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="price-range" class="acod-body collapse in">
                                            <div class="acod-content">

                                                <div class="price-slide range-slider m-b30">
                                                    <div class="price">
                                                        <label for="amount"></label>
                                                        <input type="text" id="amount" class="amount" readonly="" value="29€ - 1000€" />
                                                        <div id="slider-range"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="acod-head">
                                            <h5 class="acod-title">
                                                <a data-toggle="collapse"  href="#" class="collapsed" >
                                                    Marque
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="brand" class="acod-body collapse in">
                                            <div class="acod-content">
                                                <input type="search" id="container-search" value="" class="form-control" placeholder="Recherche...">
                                                <div class="product-brand" id="searchable-area">
                                                    {% for brand in brands %}
                                                        <div class="search-content">
                                                            <input id="{{ brand.id }}" type="checkbox">
                                                            <label for="{{ brand.id }}" class="search-content-area">{{ brand.name }} </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                    <!-- left part start -->


                    <div class="col-sm-8 col-md-8 col-lg-9">
                        <div class="row">
                            <div class="p-lr15 clearfix ">
                                <div class="filter-bar clearfix m-b30 p-lr15">
                                    <select class="pull-left max-w200">
                                        <option>Trier par </option>
                                        <option>Price: Lowest first</option>
                                        <option>Price: Highest first </option>
                                        <option>Product Name: A to Z </option>
                                        <option>Product Name: Z to A </option>
                                        <option>In stock</option>
                                    </select>
                                    <div class="col-md-4">
                                        <input type="text" name="daterange" class="text-center" style="width: 83%; padding: 8px 8px">
                                    </div>


                                    <ul class="nav theme-tabs pull-right">
                                        <li>
                                            <a href="#"><i class="fa fa-list"></i></a>
                                        </li>
                                        <li class="active">
                                            <a href="#"><i class="fa fa-th"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- blog grid  -->
                            <div id="masonry" class="dlab-blog-grid-3">
                                {% for scooter in scooters %}
                                    <div class="post card-container col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="dlab-feed-list m-b30">
                                            <div class="dlab-media">
                                                <a href="{{ path('front_view_scooter', { 'id': scooter.id }) }}"><img src="#" alt=""></a>
                                            </div>
                                            <div class="dlab-info">
                                                <h4 class="dlab-title"><a href="{{ path('front_view_scooter', { 'id': scooter.id }) }}">{{ scooter.model.nameModel }}</a></h4>
                                                <div class="dlab-separator bg-black"></div>
                                                <p class="dlab-price"><span class="text-primary">{{ scooter.price }} €</span></p>
                                            </div>
                                            <div class="icon-box-btn text-center">
                                                <ul class="clearfix">
                                                    <li>{{ scooter.kilometers }} km</li>
                                                    <li>{{ scooter.color }}</li>
                                                    <li>Marque</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- blog grid END -->
                            <!-- Pagination  -->
                            <div class="pagination-bx col-lg-12 clearfix ">
                                <ul class="pagination">
                                    <li class="previous"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- Pagination END -->
                        </div>
                    </div>
                    <!-- left part END -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
