{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Createdat</th>
                <th>Comment</th>
                <th>Ispaid</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.id }}</a></td>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ order.comment }}</td>
                <td>{% if order.isPaid %}Yes{% else %}No{% endif %}</td>
                <td>{{ order.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('order_show', { 'id': order.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
