{% extends 'admin/layout-admin.html.twig' %}

{% block content %}

    <table id="order" class="table">
        <thead>
            <tr>
                <th style="width:5%;">Id</th>
                <th style="width:15%;">Createdat</th>
                <th style="width:45%;">Comment</th>
                <th style="width:10%;">Ispaid</th>
                <th style="width:10%;">Status</th>
                <th style="width:15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.id }}</a></td>
                <td>{% if order.createdAt %}{{ order.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ order.comment }}</td>
                <td>{% if order.isPaid %}Yes{% else %}No{% endif %}</td>
                <td>{{ order.status }}</td>
                <td>
                    <ul class="puce-none">
                        <li>
                            <a href="{{ path('order_show', { 'id': order.id }) }}"><i class="fa fa-eye"></i>Détail</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#order').DataTable({
                "language": {
                    "search": "Recherche:"
                }
            });
        } );
    </script>
{% endblock %}