{% extends 'admin/layout-admin.html.twig' %}

{% block content %}
    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-6 h2-car-list" style="margin-top: 20px">
            <h2>Liste des messages</h2>
        </div>
    </div>
    <div class="card" style="padding: 15px; margin-bottom: 30px">
        <div class="row" id="margin-table">
            <div class="col-md-12">
                <table id="car" class="table table-bordered table-striped" width="100%" style="margin-top: 15px; font-size: 11pt">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>E-mail</th>
                        <th>Téléphone</th>
                        <th>Sujet</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td style="vertical-align: middle">{{ contact.name }}</td>
                            <td style="vertical-align: middle">{{ contact.email }}</td>
                            <td style="vertical-align: middle">{{ contact.phone }}</td>
                            <td style="vertical-align: middle">{{ contact.subject }}</td>
                            <td style="vertical-align: middle">{{ contact.message }}</td>
                            <td>
                                <ul class="puce-none mb-0">
                                    <li>
                                        <a href="{{ path('admin_view_contact', { 'id': contact.id }) }}" class="action"> <i class="fa fa-eye"></i>Détail</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_delete_contact', { 'id': contact.id}) }}" class="action" data-toggle="modal" data-target="#{{ contact.id }}"><i class="fa fa-trash"></i>Supprimer</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal de confirmation de suppression -->
    {% for contact in contacts %}
        <div class="modal fade" id="{{ contact.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <span>Êtes-vous sûr de vouloir supprimer ce message ?</span>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('admin_delete_contact', {"id":contact.id}) }}" class="btn btn-fill btn-info text-uppercase btn-sm">Supprimer</a>
                        <button type="button" class="btn btn-fill btn-danger btn-sm text-uppercase" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- End Modal de confirmation de suppression -->
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#car').DataTable({
                "language": {
                    "search": "Recherche :"
                },
                "bLengthChange": false,
                "info": false
            });
        } );
    </script>
{% endblock %}
