{% extends 'admin/layout-admin.html.twig' %}

{% block content %}
    <table id="product" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Publishedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.label }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.description }}</td>
                <td>{% if product.publishedAt %}{{ product.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul style="list-style-type: none;">
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}"> <i class="fa fa-eye"></i>Détail</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}"><i class="fa fa-edit"></i>Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#product').DataTable({
                "language": {
                    "search": "Recherche:"
                }
            });
        } );
    </script>
{% endblock %}