{% extends 'admin/layout-admin.html.twig' %}

{% block content %}
    <div class="row" style="margin: 20px 0 15px 0">
        <div class="col-md-6" style="padding-left: 0px;">
            <h2>{{ scooter.model.nameModel }}</h2>
        </div>
        <div class="col-md-6 text-right" style="padding-right: 0px;">
            <a href="{{ path('admin_scooters') }}" class="btn return">
                <i class="fa fa-arrow-left"></i>Retour à la liste
            </a>
        </div>
    </div>
    <table id="table-show" class="card">
        <tbody class="card-body">
        <tr>
            <th>Modèle</th>
            <td>{{ scooter.model.nameModel }}</td>
        </tr>
        <tr>
            <th>Référence</th>
            <td>{{ scooter.reference }}</td>
        </tr>
        <tr>
            <th>Immatriculation</th>
            <td>{{ scooter.matriculation }}</td>
        </tr>
        <tr>
            <th>Kilomètres</th>
            <td>{{ scooter.kilometers }}</td>
        </tr>
        <tr>
            <th>Couleur</th>
            <td>{{ scooter.color }}</td>
        </tr>
        <tr>
            <th>Numéro de série</th>
            <td>{{ scooter.serialNumber }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ scooter.price }}</td>
        </tr>
        <tr>
            <th>
                <div class="row">
                    <div class="col-md-2">
                        <button style="margin-top: 20px" type="button" id="btn-edit" class="btn btn-light"><a href="{{ path('admin_edit_scooter', { 'id': scooter.id }) }}" class="card-link">Modifier</a></button>
                    </div>
                </div>
            </th>
        </tr>
        </tbody>
    </table>

{% endblock %}
