{% extends 'front/layout-front.html.twig' %}

{% block content %}
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-black-middle" style="background-image: url({{ asset('template-emove/img/background/audi.jpg') }});">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Contact</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <!-- contact area -->
        <div class="section-full content-inner bg-white contact-style-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center">
                            <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte text-uppercase">Adresse</h5>
                                <p>8 rue Voltaire, Paris (11ème)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center">
                            <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte text-uppercase">Téléphone</h5>
                                <p>+33 6 83 76 62 84</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center">
                            <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte text-uppercase">E-mail</h5>
                                <p>support@emove.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 m-b30">
                        <div class="icon-bx-wraper bx-style-1 p-a30 center">
                            <div class="icon-xl text-primary m-b20"> <a href="#" class="icon-cell"><i class="fa fa-facebook"></i></a> </div>
                            <div class="icon-content">
                                <h5 class="dlab-tilte text-uppercase">Réseaux</h5>
                                <p>www.facebook.com.emove</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-6">
                        <div class="p-a30 bg-gray clearfix m-b30 ">
                            <h2>Laissez-nous un message</h2>
                            <div class="dzFormMsg"></div>
                            {{form_start(form)}} <!--action="script/contact.php"-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_row(form.name) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_row(form.email) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_row(form.phone) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_row(form.subject) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {{ form_row(form.message) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button name="submit" type="submit" value="Submit" class="site-button "> <span>Envoyer</span> </button>
                                    </div>
                                </div>
                            {{form_end(form)}}
                        </div>
                    </div>
                    <!-- Left part END -->
                    <!-- right part start -->
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.2996687886935!2d2.3892148152748387!3d48.85249577928692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67274fcc144cd%3A0x355d409cb64f25da!2sRue+Voltaire%2C+75011+Paris!5e0!3m2!1sfr!2sfr!4v1535009664065" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- right part END -->
                </div>
            </div>
        </div>
        <!-- contact area  END -->
        <!-- contact area  END -->
    </div>
{% endblock %}
